$primary-color: #43ced7;
$primary-secondary-color: #2c9ec2;

$dangerous-color: #ee7979;
$dangerous-secondary-color: #c76161;

$success-color: #60ad96;
$success-secondary-color: #3e867d;

$white: #f6f6f6;
$dark-white: #d9dada;

$grey: #646464;
$dark-grey: #494949;

$blue-grey: #2f3039;
$dark-blue-grey: #24252d;

$heading-font: 'Montserrat', sans-serif;
$main-font: 'Open Sans', sans-serif;

$button-padding: 12px 24px;
$form-padding: 16px 16px;

$default-spacing: 24px;
$default-spacing-half-no-right: 12px 0px 12px 12px;
